<div.composer>
    <text-h1.title>
        André<br>Silva Santos
    </text-h1>
</div>

style.less {
    .composer {
        align-items: center;
        background-color: #121212;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
        .section-padding();

        .title {
            color: @color-white;
            text-transform: uppercase;
        }
    }
};
