<button-default.button-remove on-click('emit', 'click')>
    X
</button-default>

style.less {
    .button-remove {
        align-items: center;
        background-color: @color-wrong;
        color: @color-white;
        display: flex;
        font-weight: 600;
        justify-content: center;
        margin: 5px;
        padding: 5px 8px;
        position: absolute;
        right: 0;
        top: 0;
    }
};
